<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set limitation</title>
    <!-- Material Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" />

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/limitation.css">

    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="/images/logo.png" alt="">
                    <h2>Garden<span class="primary">Care</span></h2>
                </div>
                <div class="close" id="close-btn"><span class="material-icons-sharp">close</span></div>
            </div>
            <div class="sidebar">
                <a href="/"><span class="material-icons-sharp">grid_view</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="/temp"><span class="material-icons-sharp">thermostat</span>
                    <h3>Temperature</h3>
                </a>
                <a href="/moist"><span class="material-icons-sharp">water_drop</span>
                    <h3>Moisture</h3>
                </a>
                <a href="/limit" class="active"><span class="material-icons-sharp">insights</span>
                    <h3>Set limitation</h3>
                </a>
                <a href="/device"><span class="material-icons-sharp">settings_suggest</span>
                    <h3>Controll</h3>
                </a>

                <a href="/login"><span class="material-icons-sharp">logout</span>
                    <h3>Log Out</h3>
                </a>

            </div>
        </aside>

        <!-- MAIN SECTION -->
        <main>
            <h1>Set limitation</h1>
            <% if (alert) { %>
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                    <strong> <%= alert %>  </strong> 
                  </div>
            <% } %> 
            <div class="insights">
                <!-- box SECTION -->
                <div class="bigbox">
                    <div class="middle">
                        <span class="material-icons-sharp">thermostat</span>
                        <h1>Temperature limitation</h1>
                    </div>
                    <div class="bigdiv">
                        <div class="div1">
                            <form method="POST" action="/limit/uptemp" id="uptemp-form">
                                <div class = "form-message"></div>
                                <input type="text" id="upTemp" name="upTemp" placeholder="<%= values[0].UPLIMIT %> ℃"> 
                                <button class="btn " type= "submit" >CHANGE UPPER LIMIT</button>
                            </form>
                        </div>
                        <div class="div1">
                            <form method="POST" action="/limit/lowtemp" id="lowtemp-form">
                                <div class = "form-message"></div>
                                <input type="text" id="lowTemp" name="lowTemp" placeholder="<%= values[0].LOWLIMIT %> ℃">
                                <button class="btn" type= "submit">CHANGE LOWER LIMIT</button>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="box bigbox">
                    <div class="middle">
                        <span class="material-icons-sharp">water_drop</span>
                        <h1>Moisture limitation</h1>
                    </div>
                    <div class="bigdiv">
                        <div class="div1">
                            <form method="POST" action="/limit/upmoist" id="upmoist-form">
                                <div class = "form-message"></div>
                                <input type="text" id="upMoist" name="upMoist" placeholder="<%= values[1].UPLIMIT %> %">
                                <button class="btn" type= "submit">CHANGE UPPER LIMIT</button>
                            </form>
                        </div>
                        <div class="div1">
                            <form method="POST" action="/limit/lowmoist" id="lowmoist-form">
                                <div class = "form-message"></div>
                                <input type="text" id="lowMoist" name="lowMoist" placeholder="<%= values[1].LOWLIMIT %> %">
                                <button class="btn" type= "submit">CHANGE LOWER LIMIT</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- RECENT ORDERS -->
            <div class="recent-changes">
                <h2>Recent changes</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Edge</th>
                            <th>Value</th>
                            <th>Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let index = 0; index < rows.length; index++ ) { %>
                            <tr>
                                <% if (rows[index].TYPE == "uptemp") { %>
                                    <td>Temperature</td>
                                    <td>Upper limitation</td>
                                    <td><%= rows[index].NEWVALUE %>℃</td>
                                <% } else if (rows[index].TYPE == "lowtemp") { %>
                                    <td>Temperature</td>
                                    <td>Lower limitation</td>
                                    <td><%= rows[index].NEWVALUE %>℃</td>
                                <% } else if (rows[index].TYPE == "upmoist") { %>
                                    <td>Moisture</td>
                                    <td>Upper limitation</td>
                                    <td><%= rows[index].NEWVALUE %>%</td>
                                <% } else if (rows[index].TYPE == "lowmoist") { %>
                                    <td>Moisture</td>
                                    <td>Lower limitation</td>
                                    <td><%= rows[index].NEWVALUE %>%</td>
                                <% } %> 
                                <td><%= convertTime(rows[index].TIMEUPDATE) %></td>
                            </tr>
                        <% } %>
                        
                    </tbody>
                </table>
                <!-- <a href="#">Show all</a> -->
            </div>
        </main>

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Phuc</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="/images/profile-1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="recent-updates">
                <h2>Recent Updates</h2>
                <div class="updates">
                    <div class="update">
                        <div class="profile-photo">
                            <img src="/images/profile-2.jpg" alt="">
                        </div>
                        <div class="message">
                            <p><b>Light System</b> was turned on</p>
                            <small class="text-muted">Light System</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo">
                            <img src="/images/profile-2.jpg" alt="">
                        </div>
                        <div class="message">
                            <p><b>Dome System</b> was closed</p>
                            <small class="text-muted">Dome System</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo">
                            <img src="/images/profile-2.jpg" alt="">
                        </div>
                        <div class="message">
                            <p><b>Pump System</b> was turned off</p>
                            <small class="text-muted">Pump System</small>
                        </div>
                    </div>

                </div>
            </div>
            <div class="weather-analytics">
                <h2>Analytics</h2>
                <div class="item online">
                    <div class="icon">
                        <span class="material-icons-sharp">thermostat</span>
                    </div>
                    <div class="right">
                        <div class="ingo">
                            <h3>Average Tempera</h3>
                            <small class="text-muted">Last 10 Hours</small>
                        </div>
                        <h5 class="success">Safe</h5>
                        <h3>33 &#8451;</h3>
                    </div>
                </div>
                <div class="item offline">
                    <div class="icon">
                        <span class="material-icons-sharp">water_drop</span>
                    </div>
                    <div class="right">
                        <div class="ingo">
                            <h3>Average Moisture</h3>
                            <small class="text-muted">Last 10 Hours</small>
                        </div>
                        <h5 class="danger">Low</h5>
                        <h3>55%</h3>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script src="/js/index.js"></script>
    <script src="/js/setlimit_validator.js"></script>
    <script>
        Validator({
            form: '#uptemp-form',
            errorSelector: '.form-message',
            rules: [
                Validator.checkUpperLimit('#upTemp', "<%= values[0].LOWLIMIT %>", "Upper limit cannot be lower than lower limit."),
            ]
        });
        Validator({
            form: '#lowtemp-form',
            errorSelector: '.form-message',
            rules: [
                Validator.checkLowerLimit('#lowTemp', "<%= values[0].UPLIMIT %>", "The lower limit cannot be higher than the upper limit."),
            ]
        });
        Validator({
            form: '#upmoist-form',
            errorSelector: '.form-message',
            rules: [
                Validator.checkUpperLimit('#upMoist', "<%= values[1].LOWLIMIT %>", "Upper limit cannot be lower than lower limit."),
            ]
        });
        Validator({
            form: '#lowmoist-form',
            errorSelector: '.form-message',
            rules: [
                Validator.checkLowerLimit('#lowMoist', "<%= values[1].UPLIMIT %>", "The lower limit cannot be higher than the upper limit."),
            ]
        });
    </script>
</body>

</html>